<section class="user-form-container" id="user-form-edit-container">
  <h1><%= t("users.edit.update_profile") %></h1>

  <%= simple_form_for(resource, as: resource_name, url: user_path(@user.slug), html: { method: :put, class: "needs-validation" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p class="text-warning">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </p>
      <% end %>

      <%= f.input :full_name,
                  required: true,
                  label: t('users.edit.full_name'),
                  input_html: { class: "form-control" } %>

      <%= f.input :user_name,
                  required: true,
                  label: t('users.edit.user_name'),
                  input_html: { class: "form-control" } %>

      <%= f.input :birthday,
                  required: false,
                  placeholder: "31/12/1991",
                  label: false,
                  input_html: { class: "form-control" } %>

      <%= f.input :blood,
                  required: false,
                  placeholder: "Your blood type",
                  label: false,
                  input_html: { class: "form-control" } %>

      <%# Nếu muốn mở password fields sau, chỉ cần thêm lại với input_html: { class: "form-control" } %>

    </div>

    <div class="form-actions user-actions-btns-wrapper mt-3">
      <%= link_to t('users.edit.cancel'), user_path(@user.slug), class: "twink-normal-btn twink-btn-cancel btn btn-danger rounded-end text-center" %>
      <%= f.button :submit, t("users.edit.update"), class: "twink-normal-btn twink-btn-submit btn btn-primary rounded-end text-center" %>
    </div>

  <% end %>
</section>
