<section class="user-form-container" id="user-form-edit-container">
  <h1><%= t("users.edit.update_profile") %></h1>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :full_name,
          required: true,
          label: t('users.edit.full_name') %>

      <%= f.input :user_name,
          required: true,
          label: t('users.edit.user_name') %>

      <%= f.input :birthday,
                   required: false,
                   placeholder: "Your birthday",
                   label: false %>

      <%= f.input :blood,
                   required: false,
                   placeholder: "Your blood type",
                   label: false %>

      <%= f.input :password,
                  required: false,
                  autofocus: false,
                  autocomplete: 'off',
                  tabindex: "-1",
                  input_html: { placeholder: t("users.edit.new_password"), value: "", autocomplete: "off" },
                  label: t('users.edit.new_password') %>

      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { placeholder: t("users.edit.confirm_new_password") },
                  label: t('users.edit.confirm_new_password') %>

      <%= f.input :current_password,
                  required: true,
                  input_html: { placeholder: t("users.edit.current_password") },
                  label: t('users.edit.current_password') %>

    </div>

    <div class="form-actions user-actions-btns-wrapper">
      <%= link_to t('users.edit.cancel'), user_path(@user.slug), class: "twink-normal-btn twink-btn-cancel" %>
      <%= f.button :submit, t("users.edit.update"), class: "twink-normal-btn twink-btn-submit" %>
    </div>
  <% end %>
</section>
