<section class="user-form-container new">
  <div class="left-box">
    <%= image_tag('bg2.jpeg') %>
  </div>

  <div class="right-box">
    <div>
      <%= link_to root_path, class: 'app-name' do %>
        <div class='content'>
          <h2>Leaves</h2>
          <h2>Leaves</h2>
        </div>
      <% end %>
      <h4 class='account-regis-header'>
        <%= t('users.account.sign_up_to_see_photos_and_videos') %>
      </h4>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%# <%= f.input :avatar, required: false, class: 'form-control' %>
          <%= f.input :email,
                      required: true,
                      autofocus: false,
                      placeholder: "Your Email",
                      tabindex: "-1",
                      label: false %>
          <%# <%= f.input :full_name,
                      required: true,
                      placeholder: "Full name",
                      label: false %>
          <%# <%= f.input :user_name,
                      required: true,
                      placeholder: "User name",
                      label: false %>
          <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      placeholder: "Password",
                      label: false %>
          <%# <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      placeholder: "Password confirmation",
                      label: false %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "twink-normal-btn twink-btn-submit user-form-submit-btn" %>
        </div>
      <% end %>
    </div>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  </div>

</section>
