<section class="user-form-container">
  <div class="left-box">
    <div class="under-box phone-box">
      <%= image_tag "iphone-frame.png" %>
      <%= image_tag "slide-under-image" %>
    </div>
    <div class="above-box phone-box">
      <%= image_tag "apple-iphone7-silver-portrait.png" %>
      <div id="slideshow">
        <div>
          <%= image_tag "slide-image_1.jpeg" %>
        </div>
        <div>
          <%= image_tag "slide-image_2.jpeg" %>
        </div>
        <div>
          <%= image_tag "slide-image_3.jpeg" %>
        </div>
        <div>
          <%= image_tag "slide-image_4.jpeg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="right-box">
    <div>
      <h1>Photogram</h1>
      <h4>Sign up to see photos and videos from your friends.</h4>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      placeholder: "Email",
                      label: false %>
          <%= f.input :full_name,
                      required: true,
                      placeholder: "Full name",
                      label: false %>
          <%= f.input :user_name,
                      required: true,
                      placeholder: "User name",
                      label: false %>
          <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      placeholder: "Password",
                      label: false %>
          <%# <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      placeholder: "Password confirmation",
                      label: false %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>

<script>
  $("#slideshow > div:gt(0)").hide();

  setInterval(function() {
    $('#slideshow > div:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
  },  4000);
</script>
