<section class="user-form-container login">
  <%# <div class="left-box">
    <p>How do you feel today, my friend?</p>
    <%= image_tag('bg.jpeg') %>
  <%# </div> %>

  <div class="right-box log-in-form">
    <%= link_to root_path, class: 'app-name' do %>
      <div class='content'>
        <h2>TWINKLING</h2>
        <h2>TWINKLING</h2>
      </div>
    <% end %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: "disabled" }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: false,
                    placeholder: "Your Email",
                    autocomplete: 'off',
                    tabindex: "-1",
                    label: false %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" },
                    placeholder: "Password",
                    label: false %>
        <%= f.input :remember_me, as: :boolean, label: t('users.account.remember_me') if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('users.account.login'), class: "twink-normal-btn twink-btn-submit user-form-submit-btn" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</section>

